
.container {
    max-width: 100%;
}
.col-sm-8 {
    display: flex;
    justify-content: center;
    border-left: 1px solid lightgrey;
} 
.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-pic {
    margin-bottom: 20px;
    margin-top: 30px;
}
input {
    display: none;
}
label {
    height: 25px;
    width: 80px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: lightgrey;
    color: rgb(100, 100, 100);
}
img {
    border-radius: 100%;
}

.bi-envelope-fill,
.bi-telephone-fill,
.bi-globe-americas,
.bi-person-vcard-fill,
.bi-gear-fill,
.bi-box-arrow-in-right {
    color: grey;
    height: 20px;
    width: 20px;
}
.border-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-5,
.col-3,
.col-7,
.col-10 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-3,
.col-7,
.col-10 {
    display: flex;
    justify-content: flex-start;
}

h5 {
    color: gray;
}
.row-body {
    margin-right: 0;
    margin-left: 0;
    padding: 10px 0 10px 0;
}
.row-body:hover,
.row-body:focus {
    background-color: #e2e2e2;
    cursor: pointer;
} 
.mg-log {
    margin-bottom: 0;
}
.line,
.mg-log {
    border-top: 1px solid rgb(225, 225, 225);
    width: 96%;
}

a {
    text-decoration: none;
}
.score-total {
    width: 100%;
    height: max-content;
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgb(168, 45, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgb(0, 0, 0,0.1);
}
.score-title {
    display: flex;
    justify-content: flex-start;
}
.check-button {
    display: flex;
    justify-content: flex-end;
}
.score-border {
    display: flex;
    justify-content: center;
}
.check {
    padding: 5px 10px 5px 10px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
}
h1 {
    font-size: 4em;
    color: white;
}

.title-his-order {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
}
.detail-order {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
}

.buy-again {
    border-radius: 20px;
    width: 70%;
    padding: 5px 0 5px 0;
    color: white;
    background-color: orangered;
    border: none;
}
.buy-again:hover {
    background-color: orangered;
}
.bor-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.time {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
p {
    color: rgb(191, 190, 190);
}
.name-order,
#Check-prize {
    color: black;
}

/* กำหนดความสูงและ scroll ในส่วนที่ต้องการ */
.scrolls {
    max-height: 100vh; 
    overflow-y: auto;
}

/* ไม่ให้ scroll ในส่วนอื่น */
.order {
    overflow: hidden;
}
#logout {
    color: #cb0202;
}
.col-sm-3 {
    margin-left: 3%;
    margin-right: 3.5%;
}

.profile-grid {
    margin-left: 4%;
    margin-right: 4%;
}
.row-or {
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 0;
}
.row-or:hover {
    background-color: whitesmoke;
}
.row1,.row3,.row5 {
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
.row2,.row3 ,.row4 {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
.price-amount {
    margin-top: 10px;
}
.g-col-4 {
    border-right: 1px solid lightgray;
}
.row5 {
    margin-bottom: 20px;
}

/* จอมือถือ */
@media (max-width: 414px) {
    .check {
        padding: 1px 5px 1px 5px;
    }
}